@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;500&family=Poppins:wght@300&family=Roboto+Slab:wght@500;600&family=Ubuntu:wght@500&display=swap");
